<!-- Sign Up -->

<div class="row">
   <div class="large-6 columns">
     <div class="signup-panel">
       <p class="sign-up-welcome-title"> Welcome to AbadGirl!</p>
        <%= form_for @user do |f| %>
          <div class="row collapse">
           <div id="sign-up-form" class="small-10  columns">
            <%= f.text_field :first_name, placeholder:"First Name" %><br>
           </div>
          </div>
          <div class="row collapse">
           <div id="sign-up-form" class="small-10  columns">
            <%= f.text_field :last_name, placeholder:"Last Name" %><br>
           </div>
          </div>
          <div class="row collapse">
           <div id="sign-up-form" class="small-10  columns">
            <%= f.text_field :email, placeholder:"Email" %><br>
           </div>
          </div>
         <div class="row collapse">
           <div id="sign-up-form" class="small-10 columns ">
            <%= f.password_field :password, placeholder:"Password" %><br>
           </div>
         </div>
      </div>
        <p id="p-sign-in"> Already have an account? <%= link_to "Sign in", login_path %></p>
        <%= f.submit "Create Account", class:"button radius create-account-button"%>
        <% end %>
     </div>
   </div>
