<!-- Login

<%= form_for @user, url: "/sessions", method: "post" do |f| %>
  <div>
    <%= f.text_field :email, placeholder: "Email" %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: "Password" %>
  </div>
  <%= f.submit "Sign In" %>
<% end %> -->


<div class="row">
   <div class="large-6 columns">
     <div class="signup-panel">
       <p class="welcome"> Welcome to AbadGirl!</p>
        <%= form_for @user, url: "/sessions", method: "post" do |f| %>
          <div class="row collapse">
           <div class="small-10  columns">
            <%= f.text_field :email, placeholder:"Email" %><br>
           </div>
          </div>
         <div class="row collapse">
           <div class="small-10 columns ">
            <%= f.password_field :password, placeholder:"Password" %><br>
           </div>
         </div>
      </div>
        <%= f.submit "Sign In", class:"button radius sign-in-button"%>
        <p> Don't have an account? <%= link_to "Create Account", new_user_path %></p>
        <% end %>
     </div>
   </div>
  </div>
