<!DOCTYPE html>
<html>
<head>
  <title>Abadgirl</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

  <ul>
  <% if current_user %>
    <li><%= link_to "Home", splash_path %></li>
    <li><%= link_to "Beauty Blogs", new_beauty_post_path %></li>
    <li><%= link_to "Fashion Blogs", new_fashion_post_path %></li>
    <li><%= link_to "Profile", user_path(current_user) %></li>
    <li><%= link_to "Log Out", logout_path %></li>
  <% else %>
    <li><%= link_to "Home", splash_path %></li>
    <li><%= link_to "Beauty Blogs", new_beauty_post_path %></li>
    <li><%= link_to "Fashion Blogs", new_fashion_post_path %></li>
    <li><%= link_to "Create Account", new_user_path %></li>
    <li><%= link_to "Log In", login_path %></li>
  <% end %>
</ul>

<% flash.each do |name, msg| %>
  <p>
    <small> <%= name.capitalize %>: <%= msg %> </small>
  </p>
<% end %>

<%= yield %>

</body>
</html>
