<div class="row">
  <div class="large-12 columns ">
    <h1 class="fashion-post-title"> "Fashions fade, style is eternal" </h1>
    <%= form_for @post, url: fashion_create_path do |f| %>
      <div class="new-post-form"> <%= f.text_field :title, placeholder: "Title"%> </div><br>
      <div class="new-post-form"> <%= f.text_area :body, placeholder: "Body", size: "60x12" %> </div><br>
      <div class="new-post-form"> <%= f.text_area :photo_url, placeholder: "Image Url" %> </div>
      <div> <%= f.submit "Submit", class: "button " %> </div>
    <% end %>
  </div>
</div>
