

<div class="row bump">
  <div class="small-12 large-6 columns">
    <div class="row">
      <div class="blog-post">
        <div id="user-show-div" class="row">
          <% if @post %>
            <% post = @post %>
          <div id="user-show-div" class="small-12 large-8 columns">
              <div class="user-show-name"><p><%= link_to post.title, post_path(post) %></p></div>
              <div class="user-show-name"><h6>Created By: <strong><%= link_to @post.user.first_name, user_path(@post.user)%></h6></div>
              <div class="user-show-image"><img src="<%=post.photo_url%>" alt="" /></div>
              <div class="user-show-body"><p><%= post.body %></p></div>
              </div>
          <% end %>

        <div class="row">
          <div id="edit-delete-show-buttons" class="small-12 large-6 columns">
            <% if current_user == @post.user %>
            <%= link_to "Edit", edit_post_path(@post), method: :get, class: "link"%>
            <% end %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="row">
    <div class="small-12 columns">
      <!-- <p class="slogan">AbadGirl.com</p> -->
      <p class="links">

      </p>
      <p class="copywrite">Copywrite AbadGirl © 2016</p>
    </div>
  </div>
</footer>
