<%= form_for @post do |f| %>
  <div> <%= f.text_field :title, placeholder: "Title"%> </div><br>
  <div> <%= f.text_area :body, placeholder: "Body", size: "60x12" %> </div><br>
  <div> <%= f.text_area :photo_url, placeholder: "Image Url" %> </div>
  <div> <%= f.submit "Submit", class: "btn btn-primary" %> </div>
<% end %>
