<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>AbadGirl</title>
    <%= favicon_link_tag 'ja_new_fav.ico' %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <ul class="sub-nav menu" role="navigation" title="Filter Menu List">
    <% if current_user %>
      <li><%= link_to "Home", splash_path %></li>
      <li><%= link_to "Beauty Blogs", index_beauty_path %></li>
      <li><%= link_to "Fashion Blogs", index_fashion_path %></li>
      <li><%= link_to "Profile", user_path(current_user) %></li>
      <li><%= link_to "Log Out", logout_path %></li>
    <% else %>
      <li><%= link_to "Home", splash_path %></li>
      <li><%= link_to "Create Account", new_user_path %></li>
      <li><%= link_to "Log In", login_path %></li>
    <% end %>
  </ul>


  <% flash.each do |name, msg| %>
    <p>
      <small> <%= name.capitalize %>: <%= msg %> </small>
    </p>
  <% end %>

    <%= yield %>

  </body>
</html>
